body {
  margin: 0;
  font-family: sans-serif;
}

#jihou-banner {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: black;
  overflow: hidden;
}

#jihou-controls {
  position: absolute;
  bottom: -6px;
  right: 10px;
  display: flex;
  gap: 10px;
  z-index: 10;
}

.icon-button {
  background-color: black;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.icon-button img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
